extends layout

block content
  .page-header
    h1
      | Görli Explorer   
      small A cross-client proof-of-authority ethereum testnet
  .page-boombox
      .row
        .col-sm-3
                          .thumbnail
                            .caption
                              p.thumbnailtext Görli call for participation:
                              a.btn.btn-default.ctabuttons(href='https://dev.to/5chdn/the-grli-testnet-proposal---a-call-for-participation-58pf' role='button')
                                span.glyphicon.glyphicon-bullhorn(aria-hidden='true')
                                |  Read More
        .col-sm-3
                          .thumbnail
                            .caption
                              p.thumbnailtext Run a Görli node:
                              a.btn.btn-default.ctabuttons(href='https://github.com/goerli/testnet' role='button')
                                span.glyphicon.glyphicon-play(aria-hidden='true')
                                |  Run Node
        .col-sm-3
                          .thumbnail
                            .caption
                              p.thumbnailtext Report to the dashboard:
                              a.btn.btn-default.ctabuttons(href='http://stats.goerli.net/' role='button')
                                span.glyphicon.glyphicon-globe(aria-hidden='true')
                                |  EthStats
                             
        .col-sm-3
                          .thumbnail
                            .caption
                              p.thumbnailtext Join the chat:
                              a.btn.btn-default.ctabuttons(href='https://gitter.im/goerli' role='button')
                                span.glyphicon.glyphicon-user(aria-hidden='true')
                                |  Gitter
     

  div.col-sm-12 
    h3 Recent blocks
    table.table
      thead
        tr
          th Number
          th Signer
          th Time
          th # Tx
          th # Uncles
      tbody
        for block in blocks
          tr
            td
              a(href="/block/" + block.number) #{block.number}
            td 
              a(href="/account/" + block.signer) #{block.signerName}
            td #{moment(block.timestamp).format('lll')} (#{moment(block.timestamp).fromNow()})
            td #{block.transactions.length}
            td #{block.uncles.length}
  div.col-sm-12 
    h3 Recent Transactions
    if txs.length === 0
      p No transactions during the last 10 blocks
    else
      table.table
        thead
          tr
            th Hash
        tbody
          for tx in txs
            tr
              td
                a(href="/tx/" + tx) #{tx}